@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rich-black-fogra-29: hsl(240, 13%, 8%);
  --raisin-black: hsl(240, 8%, 18%);
  --sonic-silver: hsl(240, 3%, 45%);
  --mango-tango: hsl(20, 100%, 64%);
  --orange-web: hsl(39, 100%, 50%);
  --cultured: hsl(210, 17%, 98%);
  --mantis: hsl(118, 41%, 62%);
  --gambog: hsl(39, 100%, 45%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --onyx: hsl(0, 0%, 23%);

  --gradient: linear-gradient(90deg, hsl(38, 100%, 98%) 21.32%, hsl(144, 45%, 98%) 130%);

  --fs-1: 30px;
  --fs-2: 28px;
  --fs-3: 24px;
  --fs-4: 20px;
  --fs-5: 18px;

  --fw-500: 500;
  --fw-700: 700;

  --transition: 0.2s ease-in-out;
  --section-padding: 80px;

}
.abs_img { display: none; }
.container_app { padding-inline: 15px; }
@media (min-width: 992px) {
  :root {
    --section-padding: 120px;
  }
  .container_app { max-width: 960px; }
}
@media (min-width: 575px) {
  .container_app {
    max-width: 540px;
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
  .container_app { max-width: 740px; }
}
@media (min-width: 1200px) {
  .container_app { max-width: 1180px; }
}

::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 96%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }

html, body{
  scroll-behavior: smooth;
}
.section { padding-block: var(--section-padding); }
.btn {
  @apply text-white rounded-2xl duration-200 ease-in-out;
  /* color: var(--white); */
  font-family: var(--ff-poppins);
  padding: 15px 20px;
  /* border-radius: 15px;
  transition: var(--transition); */
}

.btn-secondary {
  background: var(--rich-black-fogra-29);
  box-shadow: inset 0 -10px 20px hsl(240, 8%, 37%);
}

.btn-secondary:is(:hover, :focus) {
  background: var(--gambog);
  box-shadow: 5px 10px 30px hsla(39, 100%, 50%, 0.3);
}

.btn-primary {
  /* shadow-sm shadow-indigo-200 */
  @apply bg-indigo-500;
}

.btn-primary:is(:hover, :focus) {
  @apply bg-indigo-600;
  transform: translateY(-3px);
}

.section-text,
.card-text,
.card-subtitle {
  font-family: var(--ff-rubik);
  color: var(--sonic-silver);
  font-size: var(--fs-5);
  line-height: 1.8;
}
.h1,
.h2,
.h3 {
  font-family: var(--ff-poppins);
  color: var(--rich-black-fogra-29);
}

.h1 {
  @apply text-3xl font-semibold;
  /* font-size: var(--fs-1);
  line-height: 1.4;
  font-weight: var(--fw-700); */
}
.h2 {
  @apply text-3xl;
  /* font-size: var(--fs-1);
  line-height: 1.6; */
}

.h3 {
  @apply text-2xl;
  color: var(--onyx);
  /* font-size: var(--fs-3);
  line-height: 1.3; */
}


.logo {
  @apply text-indigo-500;
  /* color: hsl(235, 70%, 60%); */
  font-size: 2rem;
  font-weight: 800;
}

.form-control{
  @apply block w-full border border-gray-300 font-normal text-base bg-clip-padding rounded text-black px-3 bg-gray-100  focus:border-indigo-400 focus:outline-none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

.form-control-heigt{
  height: calc(1.6em + .75rem + 2px);
} 

.grid-list {
  display: grid;
  gap: 30px;
}
@media (min-width: 768px) {
 .grid-list { grid-template-columns: 1fr 1fr; }
}
@media (min-width: 1200px) {
  :is(.event) .grid-list { grid-template-columns: repeat(3, 1fr); }
}