.cta {
  @apply text-white py-28 bg-no-repeat bg-auto bg-top;
  background-color: hsl(235, 70%, 60%);
}

.cta_banner {
  @apply bg-gray-100 rounded-md overflow-hidden mb-7 md:mb-0 order-1 md:order-2;
  aspect-ratio: 580 / 380;
  margin-block-end: 30px;
}

@media (min-width: 992px) {
  .cta .section-text { margin-block: 30px; }

  /* .cta_banner {
    margin-block-end: 0;
    order: 1;
  } */
}


