.back_top_btn {
  @apply fixed z-30 rounded-full text-white bg-indigo-500 opacity-0;
  bottom: 20px;
  right: 30px;
  font-size: 22px;
  padding: 12px;
  visibility: hidden;
  transition: 0.25s ease;
}

.back_top_btn.active {
  @apply opacity-100 visible;
  transform: translateY(-10px);
}

