.event :is(.section_subtitle, .section_title) { text-align: center; }

.event .section_title { margin-block-end: 60px; }

.event_card {
  position: relative;
  background-color: hsl(0, 0%, 96%);
  border-radius: 6px;
  overflow: hidden;
}

.event_card .card_banner {
  background-color: hsl(0, 0%, 80%);
  aspect-ratio: 370 / 250;
}

.event_card .badge {
  position: absolute;
  top: 25px;
  left: 0;
  background-color: hsl(235, 70%, 60%);
  color: #fff;
  padding: 5px 15px;
  border-radius: 0 50px 50px 0;
  font-weight: 700;
}

.event_card .card_address {
  font-size: 1.4rem;
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.event_card .card_address ion_icon {
  color: hsl(235, 70%, 60%);
  --ionicon-stroke-width: 40px;
}

.event_card .h3 {
  font-size: 2.4rem;
  margin-block: 10px;
  line-height: 1.5;
}

.event_card .card_title { transition: 0.25s ease; }

.event_card .card+title:is(:hover, :focus) { color: hsl(235, 70%, 60%); }
