
.footer { background: var(--rich-black-fogra-29); }

.footer_top { padding-block: var(--section-padding); }

.footer_brand { margin-bottom: 50px; }

.footer_brand .logo {
  width: 160px;
  margin-bottom: 20px;
}

.footer_text {
  color: var(--silver-chalice);
  font-family: var(--ff-rubik);
  line-height: 1.8;
  margin-bottom: 30px;
}

.footer .social_list {
  @apply flex justify-start items-center gap-4;
}

.footer .social_link {
  @apply grid place-items-center w-10 h-10 rounded-full;
  background: var(--raisin-black);
  color: var(--silver-chalice);
  font-size: 18px;
  border: 1px solid var(--raisin-black);
  transition: var(--transition);
}

.footer .social_link:is(:hover, :focus) {
  background: var(--rich-black-fogra-29);
  color: var(--cultured);
}

.footer_link_box {
  @apply grid gap-7;
}

.footer_list { max-width: 230px; }

.footer_list li:first-child { margin-bottom: 10px; }

.footer_link_title {
  color: var(--cultured);
  font-family: var(--ff-poppins);
  font-size: var(--fs-4);
}

.footer_link {
  color: var(--silver-chalice);
  font-family: var(--ff-rubik);
  padding-block: 10px;
  transition: var(--transition);
}

.footer_link:is(:hover, :focus) {
  color: var(--cultured);
  transform: translateX(3px);
}

.footer .contact_item { padding-block: 10px; }

.footer .contact_item span {
  display: inline-block;
  color: var(--cultured);
  font-family: var(--ff-rubik);
  font-weight: var(--fw-500);
}

.footer .contact_link {
  display: inline-block;
  color: var(--silver-chalice);
  font-family: var(--ff-rubik);
  font-weight: var(--fw-500);
}

.footer .contact_link address { font-style: normal; }

.footer-bottom {
  padding-block: 20px;
  border-top: 1px solid var(--onyx);
}

.copyright {
  color: var(--silver-chalice);
  font-family: var(--ff-rubik);
  line-height: 1.7;
  text-align: center;
}

.copyright a {
  display: inline-block;
  color: inherit;
  transition: var(--transition);
}

.copyright a:is(:hover, :focus) { color: var(--cultured); }

@media (min-width: 550px) {
  .footer_link_box { grid-template-columns: 1fr 1fr; }
}

@media (min-width: 768px) {
  .container { max-width: 750px; }
  .footer_text { max-width: 400px; }
}

@media (min-width: 1024px) {
  .container { max-width: 950px; }
  .footer_link_box { grid-template-columns: repeat(4, 1fr); }

}
